:root {
    --orange: #FCA311;
    --orange-accent: #f8bf63;
    --white: #ffffff;
    --black: #000;
    --bg-main: #14213d;
    --bg-main-accent:  #3d4d70;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

img {
    width: 100px;
}
svg {
    fill: var(--white);
       width: 22px;
}

.icons svg {
    fill: var(--black); 
}

.svg-favourite {
    transform: rotate(270deg);
}

main.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
}
section.dashboard {
    grid-area: main;
    background-color: var(--bg-main);
}
